@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-semibold-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
