<template>
    <div :class="{ 'the-bug__sla-value': !top }">
        <template v-if="sla.days < 0 || sla.hours < 0 || sla.minutes < 0">
            <template v-if="sla.days < 0">
                -{{ sla.daysFormatted }}<span>д</span>{{ sla.hoursFormatted }}<span>ч</span>
            </template>
            <template v-else-if="sla.hours < 0">
                -{{ sla.hoursFormatted }}<span>ч</span>{{ sla.minutesFormatted }}<span>м</span>
            </template>
            <template v-else>
                -00<span>ч</span>
                {{ sla.minutesFormatted }}<span>м</span>
            </template>
        </template>
        <template v-else>
            <template v-if="sla.days > 0">
                {{ sla.daysFormatted }}<span>д</span>{{ sla.hoursFormatted }}<span>ч</span>
            </template>
            <template v-else>
                {{ sla.hoursFormatted }}<span>ч</span>{{ sla.minutesFormatted }}<span>м</span>
            </template>
        </template>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component
    export default class SlaLeft extends Vue {
        @Prop() public sla: any;
        @Prop() public top: any;
    }
</script>
