<template>
  <div class="the-bug" :class="{ 'the-bug--large': isLarge, 'the-bug--pros': isProsrochen, 'wibro': tremor && !isLarge && !isProsrochen }">
    <div class="the-bug__header" :class="[`the-bug__header--${priority}`]">

      <div class="the-bug__header-sla">
        <div class="the-bug__header-sla-name">SLA</div>
        <div class="the-bug__header-sla-value">
          <sla-left v-if="zbpSla" :sla="zbpSla" :top="true" />
          <div v-else>--/--</div>
        </div>
      </div>
      <span class="sla-type">{{ priority }}</span>
    </div>
    <div class="the-bug__content">

      <awaited-icon v-if="hasAwaited" class="app-icon__bottom" />

      <backend-icon v-if="platform === 'backend'" />
      <android-icon v-else-if="platform === 'android'" />
      <ios-icon v-else-if="platform === 'ios'" />
      <web-icon v-else-if="platform === 'web'" />
      <ops-icon v-else-if="platform === 'ops'" />

      <div class="the-bug__name">{{ bug.key }}</div>
      <div class="the-bug__description">{{ title }}</div>

      <div class="the-bug__sla">
        <div v-if="sla" class="the-bug__sla-item">
          <div class="the-bug__sla-name">{{ sla.name }}</div>
          <sla-left :sla="sla" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import each from 'lodash/each';
  import find from 'lodash/find';
  import moment from 'moment';
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import SlaLeft from "@/components/SlaLeft.vue";
  import AndroidIcon from "@/components/icons/AndroidIcon.vue";
  import IosIcon from "@/components/icons/IosIcon.vue";
  import BackendIcon from "@/components/icons/BackendIcon.vue";
  import WebIcon from "@/components/icons/WebIcon.vue";
  import OpsIcon from "@/components/icons/OpsIcon.vue";
  import AwaitedIcon from '@/components/icons/AwaitedIcon.vue';

  moment.locale('ru');

  @Component({
    components: {
      SlaLeft,
      WebIcon,
      AndroidIcon,
      IosIcon,
      BackendIcon,
      OpsIcon,
      AwaitedIcon,
    },
  })

  export default class TheBug extends Vue {
    @Prop() private bug: any;
    @Prop() private tremor: any;

    get title() {
      return this.bug.title.replace('Ждет!', '').replace('Ждёт!', '').replace(/ *\[[^)]*\] */g, "");
    }

    get hasAwaited() {
      if (this.bug.title.indexOf('Ждет!') !== -1) {
        return true;
      }

      if (this.bug.title.indexOf('Ждёт!') !== -1) {
        return true;
      }

      return false;
    }

    get priority() {
      if (!this.bug.priority) {
        return 'OOPS';
      }

      switch (this.bug.priority.id) {
        case 1: return 'critical';
        case 2: return 'high';
        case 3: return 'medium';
        case 10000: return 'normal';
      }

      return 'OOPS';
    }

    get platform() {
      if (!this.bug.component) {
        return 'OOPS';
      }

      switch (this.bug.component.id) {
        case 10116:
        case 11000: return 'android';

        case 10009:
        case 11003:
        case 11850:
        case 11006: return 'backend';

        case 11301: return 'ops';

        case 11203:
        case 11502: return 'web';

        case 10117:
        case 11001: return 'ios';
      }

      return 'OOPS';
    }

    get isBreached() {
      const sla = find(this.bug.sla, o => o.breached);
      return !!sla;
    }

    get slaItems() {
      const items: any = [];

      const now = moment();

      each(this.bug.sla, (sla) => {
        const expiration = moment(sla.breach_time);
        const diff = expiration.diff(now);
        const diffDuration = moment.duration(diff);

        const days = diffDuration.days();
        const hours = diffDuration.hours();
        const minutes = diffDuration.minutes();

        items.push({
          name: sla.name,
          isZBP: sla.id === 41 && sla.name === 'SLA ZBP',
          days,
          daysFormatted: Math.abs(days).toString(),
          hours,
          hoursFormatted: Math.abs(hours).toString().padStart(2, '0'),
          minutes,
          minutesFormatted: Math.abs(minutes).toString().padStart(2, '0'),
        });
      });

      return items;
    }

    get sla() {
      const sla = find(this.slaItems, sla => !sla.isZBP);
      if (sla) {
        return sla;
      }

      return null;
    }

    get zbpSla() {
      const sla = find(this.slaItems, sla => sla.isZBP);
      if (sla) {
        return sla;
      }

      return null;
    }

    get isProsrochen() {
      return this.bug.leftMinutes < 0;
    }

    get isLarge() {
      if (!this.sla) {
        return false;
      }

      if (this.bug.leftMinutes < 0) {
        return true;
      }

      if (this.priority === 'critical' && this.bug.leftMinutes < 2*60) {
        return true;
      }

      if (this.priority === 'high' && this.bug.leftMinutes < 3*60) {
        return true;
      }

      if (this.bug.leftMinutes < 8*60) {
        return true;
      }

      return false;
    }
  }
</script>

<style lang="scss">
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .the-bug {
    float: left;
    margin: 20px;

    display: flex;
    flex-direction: column;

    width: 232px;
    height: 232px;

    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;

    &__header {
      padding: 6px 12px 2px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--critical { background: #AD1E00; }
      &--high { background: #FF3013; }
      &--medium { background: #FF8A00; }
      &--normal { background: #004D7B; }

      &-sla {
        &-name {
          font-weight: 500;
          font-size: 12px;
          line-height: 1;
          letter-spacing: 0.352px;
          color: #FFFFFF;
        }

        &-value {
          font-weight: bold;
          font-size: 24px;
          line-height: 1;
          letter-spacing: 2px;
          color: #FFFFFF;

          span {
            font-size: 12px;
          }
        }
      }

      .sla-type {
        display: inline-block;
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        height: 18px;
        line-height: 20px;

        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0.352px;
        color: #FFFFFF;
        padding: 0 12px;

        text-transform: uppercase;
      }
    }

    &__content {
      position: relative;
      padding: 8px 12px 26px 12px;
      height: 100%;

      .app-icon {
        position: absolute;
        top: 10px;
        right: 12px;

        width: 16px;
        height: 16px;

        &__bottom {
          top: auto;
          bottom: 24px;
          width: 42px;
          height: 52px;
          right: auto;
        }

        svg {
          width: inherit;
          height: inherit;

          path {
            fill: #646464;
          }
        }
      }
    }

    &__name {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.352px;
      color: #000000;
      margin-bottom: 8px;
    }

    &__description {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.352px;
      color: #646464;
      margin-bottom: 10px;


      overflow: hidden;
      text-overflow: ellipsis;
      height: 4*18px;
      max-height: 4*18px;
      display: -webkit-inline-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    &__sla {
      text-align: center;

      &-name {
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.352px;
        color: #000000;
        margin-bottom: 2px;

        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 1*12px;
        display: -webkit-inline-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      &-value {
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        letter-spacing: 2px;
        color: #000000;

        span {
          font-size: 24px;
        }
      }
    }

    &--large {
      width: 504px;
      height: 502px;

      border-radius: 10px;
      border-bottom: 2px solid #C62828;

      .the-bug__header {
        padding: 12px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--critical { background: #AD1E00; }
        &--high { background: #FF3013; }
        &--medium { background: #FF8A00; }
        &--normal { background: #004D7B; }

        &-sla {
          &-name {
            font-weight: 500;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0.352px;
            color: #FFFFFF;
          }

          &-value {
            font-weight: bold;
            font-size: 48px;
            letter-spacing: 2.5px;
            color: #FFFFFF;

            span {
              font-size: 32px;
            }
          }
        }

        .sla-type {
          display: inline-block;
          border: 3px solid #FFFFFF;
          border-radius: 10px;
          height: 40px;
          line-height: 42px;

          font-weight: 500;
          font-size: 22px;
          letter-spacing: 0.352px;
          color: #FFFFFF;
          padding: 0 35px;

          text-transform: uppercase;
        }
      }

      .the-bug__content {
        padding: 34px 14px 26px 14px;
        border-left: 2px solid #C62828;
        border-right: 2px solid #C62828;

        .app-icon {
          top: 20px;
          right: 20px;

          width: 56px;
          height: 56px;
        }
      }

      .the-bug__name {
        font-weight: 600;
        font-size: 50px;
        margin-bottom: 28px;
      }

      .the-bug__description {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 42px;

        height: 3*38px;
        max-height: 3*38px;
        -webkit-line-clamp: 3;
      }

      .the-bug__sla {
        &-name {
          font-weight: bold;
          font-size: 36px;
          line-height: 36px;
          max-height: 36px;
          margin-bottom: 20px;
        }

        &-value {
          font-weight: bold;
          font-size: 72px;
          text-align: center;
          letter-spacing: 2.5px;

          color: #C62828;

          span {
            font-size: 34px;
          }
        }
      }
    }

    &--pros {
      .the-bug__content {
        /*
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
        background-size: 400% 400%;
        animation: gradientBG 7s ease infinite;
         */
        background: #2f2f2f;


        .app-icon {
          svg path {
            fill: #ffffff;
          }
        }
      }

      .the-bug__name {
        color: #ffffff;
      }

      .the-bug__description {
        color: #ffffff;
      }

      .the-bug__sla-name {
        color: #ffffff;
      }

      .the-bug__sla-value {
        color: #ffffff;
      }
    }
  }

  .wibro {
    position: relative;
    animation: .75s tremor linear infinite;
    overflow: visible;
    top: 30px;
    margin: 50px 0 60px 60px;

    &:before {
      content: '';
      display: flex;
      position: absolute;
      top: -140px;
      right: -360px;

      width: 400px;
      height: 400px;

      background: url(/images/arrow-handdrawn.png) no-repeat center;

      transform: rotate(90deg);
    }

    &:after {
      content: 'Закрой меня скорее';
      display: flex;
      position: absolute;
      top: -20px;
      right: -320px;
      width: 300px;

      text-align: center;
      font-size: 32px;
      line-height: 28px;

      transform: rotate(-35deg);
      animation: 7s changeColor linear infinite;
    }
  }

  @keyframes changeColor {
    0% {color: #900;}
    25% {color: #060;}
    50% {color: #66ade6;}
    75% {color: #036;}
    100% {color: #f00;}
  }

  @keyframes tremor {
    0%, 100% { transform: translate(-4%, 0); }
    25% { transform: translate(0, -4%); }
    50% { transform: translate(4%, 0); }
    75% { transform: translate(0, 4%); }
  }
</style>
