<template>
  <div class="the-bugs">
    <slot />
  </div>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  @Component
  export default class TheBugs extends Vue {
    @Prop() private msg!: string;
  }
</script>

<style scoped lang="scss">
  .the-bugs {
    overflow: hidden;
  }
</style>
