<template>
  <the-icon>
    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16 6.37729V10.4844C16 11.0642 15.4914 11.5341 14.862 11.5341C14.2353 11.5341 13.7267 11.0642 13.7267 10.4844V6.37729C13.7267 5.7975 14.2325 5.32753 14.862 5.32753C15.4914 5.32753 16 5.7975 16 6.37729ZM1.13523 5.32753C0.508606 5.32753 0 5.7975 0 6.37729V10.4818C0 11.0616 0.508606 11.5341 1.13523 11.5341C1.76748 11.5341 2.27327 11.0616 2.27327 10.4818V6.37729C2.27327 5.7975 1.76748 5.32753 1.13523 5.32753ZM2.9589 12.8572C2.9589 13.3041 3.35792 13.6643 3.84686 13.6643H4.86126V15.9502C4.86126 16.53 5.37267 17 5.9993 17C6.62873 17 7.13734 16.53 7.13734 15.9502V13.6643H8.90762V15.9502C8.90762 16.53 9.41904 17 10.0457 17C10.6751 17 11.1837 16.53 11.1837 15.9502V13.6643H12.1981C12.687 13.6643 13.0861 13.3067 13.0861 12.8597V5.35818H2.9589V12.8572ZM13.0608 4.69155H2.93643C3.06849 3.29443 4.11099 2.10164 5.60028 1.47332L4.66456 0.237112C4.60836 0.165596 4.62241 0.0685382 4.69266 0.0225634C4.76572 -0.0208572 4.86969 -0.00042398 4.9287 0.0736462L5.89814 1.35583C6.53881 1.12596 7.24974 0.998249 8 0.998249C8.75026 0.998249 9.45838 1.12596 10.1019 1.35583L11.0713 0.0736462C11.1303 -0.00042398 11.2343 -0.0208572 11.3073 0.0225634C11.3776 0.0685382 11.3916 0.165596 11.3354 0.237112L10.3997 1.47332C11.8862 2.10164 12.9315 3.29443 13.0608 4.69155ZM6.42641 2.9062C6.42641 2.62524 6.17352 2.40048 5.86442 2.40048C5.55532 2.40048 5.30242 2.6278 5.30242 2.9062C5.30242 3.18971 5.55532 3.41703 5.86442 3.41703C6.17352 3.41703 6.42641 3.18971 6.42641 2.9062ZM10.765 2.9062C10.765 2.62524 10.5149 2.40048 10.2058 2.40048C9.89673 2.40048 9.64665 2.6278 9.64665 2.9062C9.64665 3.18971 9.89673 3.41703 10.2058 3.41703C10.5149 3.41703 10.765 3.18971 10.765 2.9062Z" />
    </svg>
  </the-icon>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import TheIcon from "@/components/icons/TheIcon.vue";

  @Component({
    components: {
      TheIcon,
    },
  })

  export default class AndroidIcon extends Vue {

  }
</script>
