<template>
  <the-icon>
    <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g data-name="filled outline" id="filled_outline"><path class="cls-1" d="M15,55V48.41a14.08,14.08,0,0,1,6.7-11.94l4.52-2.76a2,2,0,0,0,0-3.42L21.7,27.53A14.08,14.08,0,0,1,15,15.59V9H49v6.59a14.08,14.08,0,0,1-6.7,11.94l-4.52,2.76a2,2,0,0,0,0,3.42l4.52,2.76A14.08,14.08,0,0,1,49,48.41V55Z"/><polygon class="cls-2" points="18.23 55 32 39.51 45.68 55 18.23 55"/><rect class="cls-3" height="46" transform="translate(38 -26) rotate(90)" width="6" x="29" y="-17"/><rect class="cls-3" height="46" transform="translate(90 26) rotate(90)" width="6" x="29" y="35"/><path d="M38.31,31.15l4.51-2.76A15,15,0,0,0,50,15.59V10h6V2H8v8h6v5.59a15,15,0,0,0,7.18,12.8l4.51,2.76a1,1,0,0,1,0,1.7l-4.51,2.76A15,15,0,0,0,14,48.41V54H8v8H56V54H50V48.41a15,15,0,0,0-7.18-12.8l-4.51-2.76A1,1,0,0,1,38.31,31.15ZM10,8V4H54V8H10ZM54,56v4H10V56H54ZM20.45,54,32,41,43.46,54ZM37.26,34.56l4.52,2.76A13.07,13.07,0,0,1,48,48.41V54H46.13L32,38,17.78,54H16V48.41a13.07,13.07,0,0,1,6.22-11.09l4.52-2.76a3,3,0,0,0,0-5.12l-4.52-2.76A13.07,13.07,0,0,1,16,15.59V10H48v5.59a13.07,13.07,0,0,1-6.22,11.09l-4.52,2.76a3,3,0,0,0,0,5.12Z"/></g></svg>
  </the-icon>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import TheIcon from "@/components/icons/TheIcon.vue";

  @Component({
    components: {
      TheIcon,
    },
  })

  export default class AwaitedIcon extends Vue {

  }
</script>

<style>.cls-1{fill:#fff;}.cls-2{fill:#a4a4ac;}.cls-3{fill:#1394f6;}</style>
