<template>
  <the-icon>
    <svg width="16" height="17" viewBox="0 0 46 45" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M39.8527 16.977L39.6342 16.8992L38.7808 14.8621L38.8733 14.6528C41.4586 8.78963 41.2803 8.61473 40.8515 8.18966L37.4031 4.8256C37.2621 4.68573 37.0146 4.58735 36.8012 4.58735C36.6071 4.58735 36.0195 4.58735 30.9264 6.89407L30.7222 6.98574L28.6209 6.13957L28.5366 5.93039C26.1416 0 25.8962 0 25.3002 0H20.4303C19.8365 0 19.5661 0 17.3452 5.9407L17.2616 6.15696L15.1713 7.00909L14.9714 6.92599C11.5241 5.47265 9.51133 4.73567 8.98663 4.73567C8.77373 4.73567 8.52529 4.83119 8.38368 4.97068L4.93205 8.34443C4.49419 8.77633 4.31258 8.95719 7.03319 14.698L7.13319 14.9109L6.27845 16.9457L6.06926 17.0266C0 19.3721 0 19.6008 0 20.2117V24.9839C0 25.5964 0 25.8508 6.08131 28.0302L6.29869 28.1069L7.15356 30.1358L7.06176 30.3431C4.47655 36.209 4.64051 36.3678 5.08062 36.8055L8.5238 40.1742C8.66814 40.3129 8.91794 40.412 9.13097 40.412C9.32376 40.412 9.91007 40.412 15.0065 38.1064L15.2105 38.0109L17.3132 38.8613L17.3949 39.0716C19.7914 45 20.0376 45 20.634 45H25.5054C26.1171 45 26.3707 45 28.5934 39.0553L28.6762 38.8389L30.7699 37.9925L30.9691 38.0738C34.4136 39.5312 36.4254 40.2667 36.9467 40.2667C37.1578 40.2667 37.4085 40.1742 37.5524 40.0316L41.0096 36.6505C41.4445 36.2163 41.6258 36.0388 38.9003 30.3035L38.7989 30.0881L39.6522 28.0621L39.8559 27.9822C45.9349 25.6244 45.9349 25.3946 45.9349 24.783V20.0137C45.9347 19.4013 45.9347 19.1484 39.8527 16.977ZM22.9673 30.2396C18.615 30.2396 15.0743 26.7666 15.0743 22.5009C15.0743 18.235 18.6151 14.7666 22.9673 14.7666C27.3178 14.7666 30.8578 18.2357 30.8578 22.5009C30.858 26.7659 27.3179 30.2396 22.9673 30.2396Z" />
    </svg>
  </the-icon>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import TheIcon from "@/components/icons/TheIcon.vue";

  @Component({
    components: {
      TheIcon,
    },
  })

  export default class BackendIcon extends Vue {

  }
</script>
