<template>
  <the-icon>
    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 12.472C15.5627 13.3567 15.354 13.7534 14.7909 14.5337C14.0078 15.6272 12.8988 16.9894 11.5268 16.9973C10.3092 17.0077 9.99475 16.2718 8.33981 16.2848C6.68487 16.29 6.33902 17.0103 5.11853 16.9999C3.74941 16.9894 2.70043 15.7603 1.9144 14.672C-0.283617 11.616 -0.515138 8.0328 0.842545 6.12768C1.80293 4.77584 3.32353 3.98247 4.75267 3.98247C6.20468 3.98247 7.11933 4.71059 8.32266 4.71059C9.48884 4.71059 10.1977 3.97986 11.8812 3.97986C13.1503 3.97986 14.4965 4.61142 15.4569 5.70491C12.3128 7.27597 12.8245 11.3759 16 12.472ZM10.6036 2.7585C11.2152 2.04343 11.6783 1.03085 11.5125 0C10.5121 0.0626339 9.34593 0.644607 8.6628 1.39621C8.04541 2.08258 7.53378 3.10299 7.73386 4.08947C8.82286 4.12079 9.94902 3.52838 10.6036 2.7585Z" />
    </svg>
  </the-icon>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import TheIcon from "@/components/icons/TheIcon.vue";

  @Component({
    components: {
      TheIcon,
    },
  })

  export default class IosIcon extends Vue {

  }
</script>
