<template>
  <the-icon>
    <svg width="17" height="17" viewBox="0 0 43 44" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 7.50175C0 10.7477 2.0197 13.5248 4.90499 14.5707V37.7251C4.90499 38.3386 5.55418 39.0239 6.1673 39.0239H10.1706H15.5084H17.1675L15.4724 40.3944C15.0396 40.8272 14.7871 41.1878 14.7871 41.801C14.7871 42.4137 15.0396 42.919 15.4724 43.3518C15.9052 43.7846 16.4822 44.001 17.0953 44.001C17.7085 44.001 18.2855 43.7489 18.7183 43.3157C24.3807 37.6537 24.3807 37.6177 24.3807 37.6177C24.8138 37.1484 25.0302 36.5357 24.9942 35.8861C24.9577 35.3091 24.7053 34.7681 24.2364 34.3353C24.2364 34.2989 18.7183 28.8172 18.7183 28.8172C18.2855 28.3844 17.7085 28.1319 17.0953 28.1319C16.4822 28.1319 15.9052 28.3844 15.4724 28.8172C15.0396 29.2496 14.7871 29.827 14.7871 30.4401C14.7871 31.0529 15.0396 31.7025 15.4724 32.1349L17.1675 33.9382H15.5084H11.433C10.8198 33.9382 10.3149 33.4697 10.3149 32.8201V14.4264C12.8395 13.3445 15.0396 10.6395 15.0396 7.46568C15.0396 3.31808 11.6854 0 7.53781 0C3.42628 0 0 3.35415 0 7.50175ZM7.53781 4.58039C9.16079 4.58039 10.4592 5.87877 10.4592 7.50175C10.4592 9.12472 9.16079 10.4231 7.53781 10.4231C5.91484 10.4231 4.61646 9.12472 4.61646 7.50175C4.61646 5.87877 5.91484 4.58039 7.53781 4.58039Z" fill="#C62828"/>
      <path d="M42.7384 36.4988C42.7384 33.2529 40.6105 30.4758 37.7252 29.4295V6.27545C37.7252 5.66232 37.2927 5.08526 36.6796 5.08526H32.6402H27.3024H25.643L27.3385 3.67869C27.7709 3.24589 28.0234 2.84917 28.0234 2.23604C28.0234 1.62292 27.7709 1.11799 27.3385 0.6852C26.9053 0.252407 26.3283 0.0360107 25.7155 0.0360107C25.102 0.0360107 24.525 0.288473 24.0926 0.721267C18.4659 6.34758 18.4659 6.34758 18.4659 6.34758C18.0331 6.81644 17.8167 7.42956 17.8528 8.07875C17.8888 8.65581 18.1413 9.1968 18.6101 9.62959C18.6462 9.66566 24.1283 15.1477 24.1283 15.1477C24.5607 15.5805 25.1381 15.833 25.7512 15.833C26.364 15.833 26.9414 15.6166 27.3742 15.1838C27.8066 14.751 28.0595 14.1739 28.0595 13.5608C28.0595 12.9477 27.8066 12.3346 27.3742 11.9018L25.6427 10.1345H27.3021H31.4136C32.0271 10.1345 32.3153 10.5312 32.3153 11.1444V29.5381C29.7906 30.6201 27.6992 33.325 27.6992 36.4988C27.6992 40.6464 31.0529 43.9645 35.2005 43.9645C39.3121 43.9645 42.7384 40.6104 42.7384 36.4988ZM35.3087 39.4206C33.6858 39.4206 32.3874 38.1218 32.3874 36.4988C32.3874 34.8759 33.6858 33.5771 35.3087 33.5771C36.9317 33.5771 38.2301 34.8759 38.2301 36.4988C38.2301 38.1218 36.9317 39.4206 35.3087 39.4206Z" fill="black"/>
    </svg>
  </the-icon>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import TheIcon from "@/components/icons/TheIcon.vue";

  @Component({
    components: {
      TheIcon,
    },
  })

  export default class OpsIcon extends Vue {

  }
</script>
