<template>
  <div class="app-icon">
    <slot />
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component
  export default class TheIcon extends Vue {

  }
</script>
