<template>
  <the-icon>
    <svg width="25" height="17" viewBox="0 0 58 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.66667 0C6.48639 0 3.86667 2.58101 3.86667 5.71429V30.4762C3.86667 31.9402 4.45464 33.2698 5.38841 34.2857H0C0 37.4419 2.59647 40 5.8 40H52.2C55.4035 40 58 37.4419 58 34.2857H52.6116C53.5454 33.2698 54.1333 31.9402 54.1333 30.4762V5.71429C54.1333 2.58101 51.5136 0 48.3333 0H9.66667ZM9.66667 3.80952H48.3333C49.4257 3.80952 50.2667 4.63804 50.2667 5.71429V30.4762C50.2667 31.5524 49.4257 32.381 48.3333 32.381H9.66667C8.57428 32.381 7.73333 31.5524 7.73333 30.4762V5.71429C7.73333 4.63804 8.57428 3.80952 9.66667 3.80952Z" fill="#0081C9"/>
    </svg>
  </the-icon>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import TheIcon from "@/components/icons/TheIcon.vue";

  @Component({
    components: {
      TheIcon,
    },
  })

  export default class WebIcon extends Vue {

  }
</script>
