<template>
  <div id="app">
    <div class="container">

      <div v-if="isVirus" class="coronavirus-info">
        <div class="coronavirus-info__item">
          <img src="@/assets/icon.png" alt="" />
        </div>
        <div class="coronavirus-info__item">
          <div class="coronavirus-info__label">Total Confirmed</div>
          <div class="coronavirus-info__value">
            {{ total.toLocaleString() }}
            <img src="@/assets/bad.png" alt="" />
          </div>
        </div>
        <div class="coronavirus-info__item">
          <div class="coronavirus-info__label">Total Deaths</div>
          <div class="coronavirus-info__value coronavirus-info__value--bad">
            {{ bad.toLocaleString() }}
            <img src="@/assets/death.png" alt="" />
          </div>
        </div>
        <div class="coronavirus-info__item">
          <div class="coronavirus-info__label">Total Recovered</div>
          <div class="coronavirus-info__value coronavirus-info__value--good">
            {{ good.toLocaleString() }}
            <img src="@/assets/happy.png" alt="" />
          </div>
        </div>
      </div>

      <div v-if="isValentin" class="valentin">
<!--        <canvas></canvas>-->
        <iframe src="/2.html"></iframe>
      </div>

      <the-bugs v-if="sortedBugs.length > 0">
        <the-bug
            v-for="(bug, index) in sortedBugs" :key="index"
            :bug="bug"
            :tremor="sortedBugs.length === 1 || (index === 1 && sortedBugs.length === 2)" />
      </the-bugs>

      <div v-else>
        <div class="yes">Ура, багов нет</div>
        <div v-if="lastCheck" class="date">{{ lastCheck }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import each from 'lodash/each';
  import find from 'lodash/find';
  import has from 'lodash/has';
  import sortBy from 'lodash/sortBy';
  import moment from 'moment';
  import { Component, Vue } from 'vue-property-decorator';
  import TheBugs from './components/TheBugs.vue';
  import TheBug from './components/TheBug.vue';

  @Component({
    components: {
      TheBugs,
      TheBug,
    },
  })

  export default class App extends Vue {
    private bugs: any[] = [];
    private lastCheck: any = null;

    private total: number = 0;
    private good: number = 0;
    private bad: number = 0;

    private virus: string = '383840408673828583';
    private isVirus: boolean = true;
    private valentin: string = '383840408665766978847378';
    private isValentin: boolean = false;

    created() {
      this.lastCheck = new Date();

      this.checkCheatCode();

      setInterval(() => {
        this.process();
        this.getCoronavirusInfo();
      }, 60*1000);

      this.$nextTick(() => {
        this.process();
        this.getCoronavirusInfo();
      });
    }

    checkCheatCode() {
      let keys = '';
      window.addEventListener('keydown', (e) => {
        keys += e.keyCode;

        if (keys.match(this.virus)) {
          this.isVirus = !this.isVirus;
          keys = '';
        } else if (keys.match(this.valentin)) {
          this.isValentin = !this.isValentin;
          keys = '';
        } else if (keys.length > 40) {
          keys = keys.substr(-30);
        }
      });
    }

    async getCoronavirusInfo() {
      let response = await fetch('https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/ncov_cases/FeatureServer/1/query?f=json&where=1%3D1&returnGeometry=false&spatialRel=esriSpatialRelIntersects&outFields=*&outStatistics=%5B%7B%22statisticType%22%3A%22sum%22%2C%22onStatisticField%22%3A%22Confirmed%22%2C%22outStatisticFieldName%22%3A%22value%22%7D%5D&cacheHint=true');
      let responseJson = await response.json();

      this.total = responseJson.features[0].attributes.value;

      response = await fetch('https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/ncov_cases/FeatureServer/1/query?f=json&where=1%3D1&returnGeometry=false&spatialRel=esriSpatialRelIntersects&outFields=*&outStatistics=%5B%7B%22statisticType%22%3A%22sum%22%2C%22onStatisticField%22%3A%22Deaths%22%2C%22outStatisticFieldName%22%3A%22value%22%7D%5D&cacheHint=true');
      responseJson = await response.json();

      this.bad = responseJson.features[0].attributes.value;

      response = await fetch('https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/ncov_cases/FeatureServer/1/query?f=json&where=1%3D1&returnGeometry=false&spatialRel=esriSpatialRelIntersects&outFields=*&outStatistics=%5B%7B%22statisticType%22%3A%22sum%22%2C%22onStatisticField%22%3A%22Recovered%22%2C%22outStatisticFieldName%22%3A%22value%22%7D%5D&cacheHint=true');
      responseJson = await response.json();

      this.good = responseJson.features[0].attributes.value;
    }

    async process() {
      const headers = new Headers();
      headers.append('Authorization', 'Basic emJwOlgkNDRecjZzUXEqUDMjWF55YWw5VGhQbg==');
      const response = await fetch('http://10.0.3.11:8033/', { headers });
      const responseJson = await response.json();
      this.bugs = responseJson.success.bugs;

      this.lastCheck = new Date();
    }

    get sortedBugs() {
      const bugs: any[] = [];

      const now = moment();

      each(this.bugs, (bug) => {
        let min = 9999999;

        each(bug.sla, (sla) => {
          const expiration = moment(sla.breach_time);
          const diff = expiration.diff(now);
          const diffDuration = moment.duration(diff);

          const days = diffDuration.days();
          const hours = diffDuration.hours();
          const minutes = diffDuration.minutes();

          let left;
          if (days < 0 || hours < 0 || minutes < 0) {
            left = Math.abs(days)*24*60 + Math.abs(hours)*60 + Math.abs(minutes);
            left *= -1;
          } else {
            left = days*24*60 + hours*60 + minutes;
          }

          if (left < min) {
            min = left;
          }
        });

        bug.leftMinutes = min;

        bugs.push(bug);
      });
      return sortBy(bugs, o => o.leftMinutes);
    }
  }
</script>

<style lang="scss">
  body {
    background: #f3f3f3;
    box-sizing: border-box;
  }

  .yes {
    text-align: center;
    font-size: 200px;
    padding: 72px;
    color: #00bcd4;
  }

  .date {
    text-align: center;
    font-size: 80px;
    color: #9e9e9e;
  }

  #app {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .container {
    margin: 0 auto;
    width: 544px;
  }

  @media screen and (min-width: 1168px) {
    .container {
      width: 1088px;
    }
  }

  @media screen and (min-width: 1712px) {
    .container {
      width: 1632px;
    }
  }

  @media screen and (min-width: 2256px) {
    .container {
      width: 2176px;
    }
  }

  @media screen and (min-width: 2800px) {
    .container {
      width: 2720px;
    }
  }

  @media screen and (min-width: 3344px) {
    .container {
      width: 3264px;
    }
  }

  @media screen and (min-width: 3988px) {
    .container {
      width: 3808px;
    }
  }

  .coronavirus-info {
    box-sizing: border-box;
    width: 1400px;
    margin: 20px auto 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

    &__item {
      box-sizing: border-box;
      width: 400px;
      background: #222322;
      padding: 40px 0;
      height: 200px;

      &:first-child {
        width: 200px;
        text-align: center;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__label {
      text-align: center;
      font-size: 32px;
      color: #ffffff;
      margin-bottom: 20px;
    }

    &__value {
      text-align: center;
      font-size: 52px;
      color: #ffffff;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;

      &--bad {
        color: #ff2121;
      }

      &--good {
        color: #7fff00;
      }

      img {
        margin-left: 16px;
        width: 50px;
      }
    }
  }

  html {
    overflow: hidden;
  }

  .valentin {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    canvas, iframe {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }
</style>
